<%- include('partials/header') %>

<div class="prach-container">
  <div class="prach-browse">
    <div class="prach-address-bar">
      <form action="/browse" method="GET">
        <input
          type="text"
          name="url"
          value="<%= url %>"
          placeholder="Enter URL or search query"
        />
        <button type="submit">Go</button>
      </form>
    </div>

    <% if (error) { %>
    <div class="prach-error">
      <p><%= error %></p>
    </div>
    <% } else { %>
    <div class="prach-content"><%- content %></div>
    <% } %>
  </div>
</div>

<%- include('partials/footer') %>
